.data{
    margin: 0%;
    min-height: 100vh;
}
.data.b{
    display: grid;
    grid-template-columns: repeat(2,40%);
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 95%;
    padding: 10px;
}
.data .b div {
    background-color: white;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 5px 1px rgb(124, 118, 118);
}