.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    padding: 10px;
}

.homepage div {
    background-color: white;
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 5px 1px rgb(124, 118, 118);
}

.homepage .a button {
    background-color: green;
}

.homepage .b button {
    background-color: blue;
}
.homepage button{
    width: 50%;
    padding: 5px;
    color: white;
}